
.navbar-default{
    background-image: none;
    position:relative;
    /*background-color: #021442 !important;*/
    background-color: transparent;
    border: none;
    color: white;
    z-index: 1000;
    -webkit-transition: background-color 1s ease 0s;
    transition: background-color 1s ease 0s;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@font-face {
    font-family: "MontserratLight";
    src: local(Montserrat), url(../fonts/montserrat/montserrat-light-webfont.woff) format("woff"),
    url(../fonts/montserrat/montserrat-light-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Title */
.navbar-default .navbar-brand {
    font-family: "MontserratLight", Arial, sans-serif;

    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/*!* Link *!*/
.navbar-default .navbar-nav > li > a {
    font-family: "MontserratLight", Arial, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    /*margin-right: 10px;*/
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s ease 0s;
    transition: border-bottom 0.3s ease 0s;

}
/*!* Link Badge edits *!*/
.navbar-default .navbar-nav .badge {
    font-family: "MontserratLight", Arial, sans-serif;
    color: white;
    background-color: #468847;
    font-size: 9px;
    font-weight: 300;
    margin-top: -10px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #A3A9BA;*/
    /*background: #021442;*/
    color: #FFFFFF;
    background: transparent;
}


.dropdown-toggle:active, .open .dropdown-toggle {
    background:transparent !important;
    color:white !important;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


/*Additional Image Styling*/

.image {
    position: relative;
    height: 550px;
    margin-top: -80px;
    background: linear-gradient(138deg, #23b8b6, #290783);
    background-size: 400% 400%;

    -webkit-animation: animateBack 30s ease infinite;
    -moz-animation: animateBack 30s ease infinite;
    animation: animateBack 30s ease infinite;
}


@-webkit-keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}

.image .heading {
    color: white;
    text-align: center;
    font-size: 42px;
}

.image p {
    text-align: center;
    padding: 20px 60px;
}
.image p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
}


.sub-heading {
    color: #FFFFFF;
    font-size: 14px;
    /*font-weight: lighter;*/
}
.main-text {
    font-size: 15px;
}
.main-text p {
    text-align: center;
    margin-top: 50px;
    width:100%;
}
.sub-heading-div {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}


.get-started-button {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 45px;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    text-align: center;
    /*font-weight: normal;*/
    text-shadow: none;
    cursor: pointer;
    -webkit-transition: background-color 100ms, border-color 100ms;
    -o-transition: background-color 100ms, border-color 100ms;
    transition: background-color 100ms, border-color 100ms
}
.get-started-button:hover {
    outline: none;
    text-shadow: none;
    font-weight: normal;
    background-color: #f2f2f2;
    text-decoration: none;
    border-color: #f2f2f2;
    color: #2577A3;
}

.get-started-footer {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 45px;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    -webkit-transition: background-color 100ms, border-color 100ms;
    -o-transition: background-color 100ms, border-color 100ms;
    transition: background-color 100ms, border-color 100ms
}

.get-started-footer:hover {
    outline: none;
    text-shadow: none;
    font-weight: normal;
    background-color: #f2f2f2;
    text-decoration: none;
    border-color: #f2f2f2;
    color: #2577A3;
}

.landing-logo{
    background-image: url('../../images/whiteMark.png');
    background-size: cover;
    /*padding-top: 400px;*/
    margin: 0 auto 0 auto;
    width:80px;
    height:80px;
}

.containing-top {
    padding-top: 140px;
}

/*How it works section*/

.hiw-title {
    color: #021442;
    font-size: 18px;

    /*font-weight: lighter;*/
}
.hiw-title-div {
    text-align: center;
    width: 70%;
    margin: 50px auto 0 auto;
}

.tell-us-image {
    background-image: url('../../images/companyInfo.png');
    background-size: cover;
    margin: 0 auto 0 auto;
    width:95px;
    height:56px;

}
.test-out-image {
    background-image: url('../../images/testProducts.png');
    background-size: cover;
    margin: 0 auto 0 auto;
    width:63px;
    height:54px;

}
.tap-into-image {
    background-image: url('../../images/community.png');
    background-size: cover;
    margin: 0 auto 0 auto;
    width:110px;
    height:60px;
    vertical-align: middle;

}
.step-wrapper{
    display: flex;
    margin-top: 40px;
    padding-left: 20%;
}

.left-text-content {
    flex: 0 0 60%;
}

.image-wrapper {
    flex: 0.4;
}

.left-text-content p {
    font-size: 15px;
}


.left-text-content h3 {
    font-size: 16px;
}

.connect-banner {
    height: 200px;
    margin-top: 40px;
    position: relative;
    background: linear-gradient(138deg, #23b8b6, #290783);
    background-size: 400% 400%;
    -webkit-animation: animateBack 30s ease infinite;
    -moz-animation: animateBack 30s ease infinite;
    animation: animateBack 30s ease infinite;
    margin-bottom: 30px;
}

.connect-banner .heading {
    color: white;
    margin-top: 0;
    text-align: left;
}
.main-landing-wrapper{
    width:100%;
    margin-top: 15px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.sub-landing-text-div {
    text-align: left;
    width: 70%;
    float: left;
    margin: 50px 0 30px 0;
}

.landing-section-btn {
    margin-top: 55px;
}

 body {
    overflow-x: hidden;
}

 .no-side-scroll {
     overflow-x: hidden;
 }
 .top-dash-line {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    color: #333;
    font-size: 0.85em;
    border-top: 1px dashed #ccc;

    -webkit-text-size-adjust: none;
 }


/*.switch-wrapper {*/
    /*position: relative;*/
/*}*/

/*.switch-wrapper > div {*/
    /*position: absolute;*/
/*}*/


.disabled-tester {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 20px 15px 0 0;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 45px;
    text-decoration: none;
    border: 1px solid #0E3B79;
    color: #ffffff;
    background: #0E3B79;
    text-align: center;
    text-shadow: none;
    transition-duration: 0.3s;
    transition-property: transform;
    opacity: 0.65;
    cursor: not-allowed;
}

.consent-content {
    margin: 40px 0 0 0 ;
}






