
.ProductPicker-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.ProductList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.Product,
.Product-moreCTA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.Product {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 10em;
    border-radius: 4px;
    flex: 0 1 10em;
    min-height: 6em;
    transition: .2s;
}
.Product:hover {
    cursor: hand;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    transform: scale(1.05);

}

.productActive {
    background: #0E3B79;
}

/*Styling for when it's clicked'*/

/*Everything below this is just visual sugar, Darlin' */
.ProductPicker {
    max-width: 50rem;
    margin: 0 auto;
}

.ProductList {
    margin: 0;
    padding: 2em;
    border-radius: 0 0 10px 10px;
    /*border-bottom: 4px solid #eee;*/
    background: white;
}
.ProductList li {
    list-style: none;
    text-decoration: none;
}
.ProductList li:hover {
    cursor: hand;
}

.ProductList .Product {
    margin-bottom: 1rem;
}

.Product {
    padding: .5em;
    text-align: center;
}

.Product-moreCTA {
    text-decoration: none;
}

.Product-icon {
    margin: 0 0 10px;
    border-radius: 50%;
    font-size: 30px;
    color: #021442;
}
.Product-Icon-Selected {
    color: white;
}

.Product-name {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #021442;
}

.Product-Name-Selected {
    color: white;
}

.Fixed-Bottom-Button {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    right:25%;
    left:50%;
    margin-left:-160px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

