.fh5co-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 100px;
    width:100%;
    position: absolute;
    bottom: 0;
    height:254px;
}
.fh5co-bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fh5co-bg-section {
    background: rgba(0, 0, 0, 0.05);
    width:100%;
    position: fixed;
    bottom: 0px;
}

#fh5co-footer {
    padding: 1em 0 0 0;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 768px) {
    #fh5co-footer {
        padding: 3em 0;
    }
}

#fh5co-footer {
    position: relative;
}

#fh5co-footer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(138deg, #23b8b6, #290783);
    background-size: 400% 400%;

    -webkit-animation: animateBack 30s ease infinite;
    -moz-animation: animateBack 30s ease infinite;
    animation: animateBack 30s ease infinite;

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
@-webkit-keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}

#fh5co-footer h3 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.fh5co-widget > p {
    /*font-size: 13px;*/
}
#fh5co-footer .fh5co-footer-links {
    padding: 0;
    margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li p {
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
    text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
    margin-bottom: 30px;
    color: white;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    #fh5co-footer .fh5co-widget {
        text-align: left;
    }
}
#fh5co-footer .fh5co-widget h3 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#fh5co-footer .copyright .block {
    display: block;
    color: white;
    font-size: 10px;
    font-weight: normal;
}


footer {
    width:100%;
    position: fixed;
    bottom: 0;
    height: 254px;
}

/*body {*/
    /*background-color: #E9EBEE;*/
/*}*/

