

.search-banner {

    position: relative;
    height: 175px;
    margin-top: -80px;
    background: linear-gradient(138deg, #23b8b6, #290783);
    background-size: 400% 400%;
    -webkit-animation: animateBack 30s ease infinite;
    -moz-animation: animateBack 30s ease infinite;
    animation: animateBack 30s ease infinite;
    margin-bottom: 30px;
}
.search-banner .single-category {
    height: 200px;
}
.search-top {
    padding-top: 100px;

}
.search-banner .heading {
    color: white;
    font-size: 20px;
    margin-top: 0;
    text-align: left;
}

.sub-search-text-div {
    text-align: left;
    width: 70%;
    float: left;
    margin: 0 0 30px 0;
}

.search-cat-div{
    vertical-align: middle;
}

.main-search-wrapper{
    width:100%;
    margin-top: -5px;
    overflow: hidden; /* will contain if #first is longer than #second */
}


.small-connect-disabled {
    opacity: 0.65;
    cursor: not-allowed !important;
}
.small-connect-button {

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    display: inline-block;
    border-radius: 4px;
    padding: 8px 35px;
    text-decoration: none;
    width: 225px;
    border: 1px solid #0E3B79;
    color: #ffffff;
    background: #0E3B79;
    text-align: center;
    text-shadow: none;
    cursor: pointer;

}

.match-panel {
    height: 2.7em;
    overflow-y: hidden;
}
p.match-panel {
    font-size: 14px;

}

.dark-blue-general-button {

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 20px 15px 0 0;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 45px;
    text-decoration: none;
    width: 240px;
    border: 1px solid #0E3B79;
    color: #ffffff;
    background: #0E3B79;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
}
.invert-general {
    color: #0E3B79;
    font-weight: normal;

    background: #ffffff;
}

.large-trial-display {
    width:300px;
}
.dark-blue-general-button:hover {
    transform: scale(0.98);
}

.select-styling {
    padding: 4px 15px;
    font-size: 20px;
    width: 400px;
    border-radius: 3px;
    border: 1px solid lightslategray;
    -webkit-appearance: none;
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2em) 0.1em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

.form-style {
    padding-bottom: 15px;
}

.form-sub-text {
    font-size: 14px;
    color: gray;
}

.form-question {
    margin-bottom: 0;
}

.hidden-widget {
    /*display:none;*/
}