
.homefeed-banner {

    position: relative;
    height: 265px;
    margin-top: -80px;
    background: linear-gradient(138deg, #23b8b6, #290783);
    background-size: 400% 400%;
    -webkit-animation: animateBack 30s ease infinite;
    -moz-animation: animateBack 30s ease infinite;
    animation: animateBack 30s ease infinite;
}
.homefeed-top {
    padding-top: 75px;

}
.homefeed-banner .heading {
    color: white;
    text-align: left;
    font-size: 22px;
}

.sub-home-text-div {
    text-align: left;
    width: 70%;
    margin: 0 0 30px 0;
}

.home-banner-button {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.2em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0 15px 0 0;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 45px;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    text-align: center;
    /*font-weight: normal;*/
    text-shadow: none;
    cursor: pointer;
    -webkit-transition: background-color 100ms, border-color 100ms;
    -o-transition: background-color 100ms, border-color 100ms;
    transition: background-color 100ms, border-color 100ms
}

.home-banner-button:hover {
    outline: none;
    text-shadow: none;
    font-weight: lighter;
    background-color: #f2f2f2;
    text-decoration: none;
    border-color: #f2f2f2;
    color: #2577A3;

}



@-webkit-keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes animateBack {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}