

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 200px;
}

/*.wrap-content {*/
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    /*!* Negative indent footer by it's height *!*/
    /*margin: 0 auto -150px;*/
/*}*/

/*.main-content {*/
    /*overflow:auto;*/
    /*padding-bottom:150px; !* this needs to be bigger than footer height*!*/
/*}*/