
.searchbox {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 37px;
    margin: 15px 0px 15px 0px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Montserrat,arial, sans-serif;
}
.searchbox .algolia-autocomplete {
    display: block;
    height: 100%;
}

.searchbox__wrapper {
    width: 100%;
    height: 100%;
}

.searchbox__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 19px;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    background: #FFFFFF;
    padding: 0;
    padding-right: 30px;
    padding-left: 37px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.searchbox__input::-webkit-search-decoration, .searchbox__input::-webkit-search-cancel-button, .searchbox__input::-webkit-search-results-button, .searchbox__input::-webkit-search-results-decoration {
    display: none;
}

.searchbox__input:hover {
    box-shadow: inset 0 0 0 1px silver;
}

.searchbox__input:focus, .searchbox__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 1px #021442;
    background: #FFFFFF;
}

.searchbox__input::-webkit-input-placeholder {
    color: #AAAAAA;
}

.searchbox__input::-moz-placeholder {
    color: #AAAAAA;
}

.searchbox__input:-ms-input-placeholder {
    color: #AAAAAA;
}

.searchbox__input::placeholder {
    color: #AAAAAA;
}

.searchbox__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 18px 0 0 18px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 37px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchbox__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.searchbox__submit:hover, .searchbox__submit:active {
    cursor: pointer;
}

.searchbox__submit:focus {
    outline: 0;
}

.searchbox__submit svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    fill: #666666;
}

.searchbox__reset {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, 0.5);
}
.searchbox__reset.hide {
    display: none;
}

.searchbox__reset:focus {
    outline: 0;
}

.searchbox__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px;
}

.searchbox__input:valid ~ .searchbox__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
    animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}