/*go to site button*/
.dailyrem-button {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid #021442;
    color: #021442;
    border-radius: 500px;
    background: white;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    overflow:hidden;
    transition: .2s;
    position:relative;
    width: 70%;
}

.dailyrem-button:hover {
    transform:scale(1.05,1.05);
}

.dailyrem-button:hover:after {
    width: 0%;
}
.dailyrem-button:focus,.dailyrem-button:active {
    outline: none;
}