/*Header Image Banner Styling*/




.action-buttons {
    width: 400px;
    margin: 0 auto 10px;
}

/*Browse categories function*/
.browsecat-button {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 20px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #021442;
    color: #021442;
    border-radius: 500px;
    background: white;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    overflow:hidden;
    transition: .2s;
    position:relative;
    width: 250px;
}

.browsecat-button:hover {
    transform:scale(1.05,1.05);
}

.browsecat-button:hover:after {
    width: 0%;
}
.browsecat-button:focus,.browsecat-button:active {
    outline: none;
}

/*go to site button*/
.gotosite-button {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin-top: 25px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #021442;
    color: white;
    border-radius: 500px;
    background: #021442;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    overflow:hidden;
    transition: .2s;
    position:relative;
    width: 320px;
}

.gotosite-button:hover {
    transform:scale(1.05,1.05);
}

.gotosite-button:hover:after {
    width: 0%;
}
.gotosite-button:focus,.gotosite-button:active {
    outline: none;
}
/*Homefeed more buttons*/
.trial-display-button {
    font-family: "Apercu", Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #010D33;
    color: #010D33;
    border-radius: 500px;
    background: transparent;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    overflow:hidden;
    transition: .2s;
    position:relative;
}
.trial-display-button:focus,.trial-display-button:active {
    outline: none;
}

.save-button {
    margin-top: 50px;
    width: 320px;

}
.subscribe-button {
    width: 320px;
}

.date-button {
    height: 30px;
    font-size: 15px;
}

.date-section {
    font-size: 15px;
}
/*input.date-input {*/
    /*-webkit-border-radius: 50px;*/
    /*-moz-border-radius: 50px;*/
    /*border-radius: 50px !important;*/
/*}*/


.trial-display-button:hover {
    transform:scale(1.05,1.05);
}

.trial-display-button:hover:after {
    width: 0%;
}

.display-trial-image {
    margin-top: 20px;
    max-height:70px;
    width: auto;
    height: auto;
}
.display-trial-image-failure {
    margin-top: 20px;
    max-height:70px;
    max-width: 250px;
    width: auto;
    height: auto;
}
.display-sizing
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: .2s;
}
.page-header-tryall {
    border-bottom:solid 1px #021442;
    margin:100px 0px 40px 0px;
}

.page-header-homepage {
    border-bottom:solid 1px #021442;
    margin:30px 0px 40px 0px;
}

.mini-header {
    width:100%;
    overflow: hidden;
}

.mini-title {
    text-align: left;
    width: 60%;
    float: left;
}

.mini-button {
    float: right;
}


.dark-blue-mini-button {

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 0.5em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #0E3B79;
    color: #0E3B79;
    background: #ffffff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;


}
.dark-blue-mini-button:hover {
    transform: scale(0.98);
}
