.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 40px;
    padding: 0px;
    height: 180px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-left: solid 7px;
    border-bottom:solid 1px #979797;
    border-right:solid 1px #979797;
    border-top:solid 1px #979797;
    transition: .2s;
}

.thumbnail-match {
    height: 280px;

}
.badge-position {
    margin-left: 0;
    padding-left: 0 !important;
}

.match-badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 6px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99999px
}
.match-badge-danger{
    background-color: #ef1c1c;

}
.match-badge-outlined {
    background-color: transparent
}
.match-badge.match-badge-outlined.match-badge-danger {
    border-color: #ef1c1c;
    color: #ef1c1c
}
/*.match-badge.match-badge-success {*/
    /*background-color: #64DD17*/
/*}*/
.match-badge.match-badge-outlined.match-badge-success {
    border-color: #64DD17;
    color: #64DD17
}

.thumbnail:hover {
    cursor: hand;
    box-shadow: 0 0 20px rgba(33,33,33,.2);

}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
    overflow-y: hidden;
}
.list-group-image {
    margin-top: 10px;
    /*margin-bottom: 35px;*/
    /*max-height:35px;*/
    /*min-height: 35px;*/
    max-width: 100px;
    margin-bottom: 5px;
    max-height:40px;
    min-height: 0px;
    overflow: hidden;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 5px 5px 0px 5px;
    height: 100%;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 5px;
    height: 5px;
    overflow: hidden;
}

p.duration{
    color:#8E8B8B;
}
p.cost {
    color:#8E8B8B;
}

.duration--icon {
    margin-bottom: 0px;
    height: 20px;
    /*background-image: url('../images/duration_icon.png');*/
    /*background-position: left center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/

}


p.duration {
    /*content: url('../images/duration_icon.png');*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*background-image: url('../images/duration_icon.png');*/
    /*background-size: 20px 20px;*/
    /*background-position: left center;*/
    /*background-repeat: no-repeat;*/
    padding-left: -20px;
    font-size: 15px;
}
p.cost{
    /*content: url('../images/duration_icon.png');*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*background-image: url('../images/cost_icon.png');*/
    /*background-size: 25px 25px;*/
    /*background-position: left center;*/
    /*background-repeat: no-repeat;*/
    font-size: 15px;

}
